<div class="news-detail-container"[attr.data-id]="newsItem?.id">
  <div class="news-header">
    <h1 class="news-title">{{ newsItem?.title }}</h1>
    <div class="news-meta">
      <span>{{ newsItem?.category }}</span>
      <span>{{ newsItem?.date | date }}</span>
    </div>
  </div>

  <img *ngIf="newsItem?.imageUrl"
       [src]="newsItem?.imageUrl"
       [alt]="newsItem?.title"
       class="news-image">

  <div class="news-content">
    <p>{{ newsItem?.content }}</p>
  </div>
  <button class="back-button" (click)="voltarParaHome()">
    ← Voltar para Home
  </button>
</div>
<ng-template #loading>
  <p>Carregando notícia...</p>
</ng-template>
