router-outlet + *{
   display: block;
  --primary-color: #2a5480;
  --secondary-color: #1c1d1f;
  --dark-color: #000102;
  --light-color: #f8f9fa;
  font-family: 'Poppins', sans-serif;

}/* You can add global styles to this file, and also import other style files */


router-outlet {
  display: block;
  margin-top: 10px; /* Ajuste conforme a altura dos seus menus */
}

app-menu-title, app-menu-bar {
  display: block;
  position: sticky;
  background: white;
}
